.cart {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cartOpen {
  cursor: default;
}

.cartIcon {
  position: relative;
}

.iconPath {
  fill: var(--col-headings);
  transition: fill var(--trans);
}

.counter {
  position: absolute;
  top: 20%;
  right: -5px;
  width: 12px;
  height: 13px;
  display: grid;
  place-items: center;
  background-color: #301346;
  color: #fff;
  border-radius: 6px;
  font-family: var(--ff-products);
  font-size: 8px;
  transition: background-color var(--trans);
}

.notEmpty {
  background-color: var(--col-accent);
}

.iconStroke {
  fill: none;
  stroke: var(--col-headings);
  stroke-width: 2px;
  transition: stroke var(--trans);
}

.cart:hover:not(.cartOpen) .iconPath {
  fill: var(--col-accent);
}

.cart:hover:not(.cartOpen) .iconStroke {
  stroke: var(--col-accent);
}

.arrow {
  margin-left: 10px;
}
