.container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, 50%, 0);
  max-width: 890px;
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img {
  max-width: 353px;
  width: 40%;
  height: auto;
}

.content {
  padding: 30px;
  max-width: 410px;
  width: 46%;
  color: var(--col-white);
  font-family: var(--ff-products);
}

.tag {
  margin-bottom: 20px;
  color: var(--col-tag);
  text-transform: uppercase;
  font-weight: var(--fw-regular);
  font-size: 14px;
}

.name {
  margin-bottom: 30px;
  font-weight: var(--fw-bold);
  font-size: 32px;
  color: var(--col-headings);
}

.description {
  margin-bottom: 26px;
  font-weight: var(--fw-regular);
  font-size: 18px;
  color: var(--col-txt);
  line-height: 1.17;
}

.price {
  margin-bottom: 16px;
  transform: translate3d(-5px, 0, 0);
  font-weight: var(--fw-bold);
  font-size: 22px;
  color: var(--col-headings);
}

.btn {
  width: 146px;
  height: 40px;
  border: 2px solid transparent;
  border-radius: 4px;
  background-color: var(--col-accent-product);
  text-transform: uppercase;
  color: var(--col-white);
  font-weight: var(--fw-bold);
  font-size: 13px;
  cursor: pointer;
  transition: border var(--trans);
}

.btn:hover {
  border: 2px solid;
}

@media (max-width: 500px) {
  .container {
    flex-direction: column;
    transform: translate3d(-50%, 100px, 0);
  }

  .img {
    margin-bottom: 60px;
  }

  .content {
    width: 80%;
    padding: 0;
  }
}