:root {
  /* fonts */
  --ff-main: "Montserrat", sans-serif;
  --ff-headings: Georgia;
  --ff-products: "Roboto";
  --fw-bold: 700;
  --fw-regular: 400;
  /* colors */
  --col-bg: #1c042e;
  --col-headline: #e4e3e3;
  --col-headings: #eee;
  --col-txt: #c4c4c4;
  --col-accent: #ac538e;
  --col-card: #331f41;
  --col-card-border: #969393;
  --col-cart: #220538;
  --col-cart-border: #f5f5f5;
  --col-tag: #fbe067;
  --col-accent-product: #ab528d;
  /* transitions */
  --trans: 300ms ease-in-out;
}
