.container {
  display: grid;
  place-items: center;
  background-color: transparent;
  border: none;
}

.container * {
  fill: var(--col-white);
  fill-opacity: .05;
  stroke: var(--col-white);
  cursor: pointer;
  transition: stroke var(--trans);
}

.container svg path {
  fill-opacity: 0;
}

.container svg:hover * {
  stroke: var(--col-accent);
}

@media (max-width: 775px) {
  .container svg {
    width: 55px;
    height: 55px;
  }
}

@media (max-width: 455px) {
  .container svg {
    width: 40px;
    height: 40px;
  }
}