.container {
  display: grid;
  grid-template-columns: 35px 1fr 50px 20px;
  align-items: center;
  color: var(--col-headings);
  font-weight: var(--fw-bold);
  font-size: 12px;
  text-transform: uppercase;
  padding: 5px 0;
}

.img {
  width: 26px;
  height: 28px;
}

.name {
  color: var(--col-headings);
  text-decoration: none;
  cursor: pointer;
  transition: color var(--trans);
}

.name:hover {
  color: var(--col-accent);
}

.removeBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: grid;
  place-items: center;
}

.removeBtn svg {
  fill: var(--col-headings);
  transition: fill var(--trans);
}

.removeBtn:hover svg {
  fill: var(--col-accent);
}
