.section {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 53px 0 200px;
}

.sectionHeader {
  padding-left: calc(4% + 100px);
  padding-bottom: 64px;
}

.sectionTitle {
  font-weight: var(--fw-bold);
  font-size: 28px;
  color: var(--col-headings);
}

.sectionIntro {
  max-width: 373px;
  font-weight: var(--fw-regular);
  font-size: 16px;
  line-height: 1.25;
  color: var(--col-txt);
}

@media (max-width: 700px) {
  .sectionHeader {
    padding-left: 4%;
  }
}

@media (max-width: 450px) {
  .sectionTitle {
    font-size: 22px;
  }

  .sectionIntro {
    font-size: 14px;
  }
}
