.arrowContainer {
  display: grid;
  place-items: center;
  background-color: transparent;
  border: none; 
}

.arrowContainer * {
  fill: #fff;
  fill-opacity: 5%;
  stroke: #fff;
  cursor: pointer;
  transition: stroke var(--trans);
}

.arrowContainer svg path {
  fill-opacity: 0%;
}

.arrowContainer svg:hover * {
  stroke: var(--col-accent);
}
